<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Getting Started</title>
    <link rel="stylesheet" href="index.css" type="text/css">
    <!-- development version of Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- Declarative rendering -->
        <h1>{{ message }}</h1>
        <span v-bind:title="msg2">Hover your mouse over me for a few seconds to see my dynamically bound title!</span>
        <br><br>
        
        <!-- Conditionals -->
        <span v-if="seen">Now you see me</span>
        <br><br>

        <!-- Loops -->
        <ol>
            <li v-for="resolution in newYearResolutions">{{ resolution }}</li>
        </ol>
    </div>

    <script src="./app.js"></script>
</body>
</html>